In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import scipy
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
sns.set()

In [4]:
data = pd.read_csv('Fish.csv')

In [5]:
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [19]:
x1 = data[['Weight','Height']]
y = data['Width']
y1 = data['Length1']
x= sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results_1 = sm.OLS(y1,x).fit()
results.summary()
results_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Length1   R-squared:                       0.842
Model:                            OLS   Adj. R-squared:                  0.840
Method:                 Least Squares   F-statistic:                     414.3
Date:                Thu, 21 Apr 2022   Prob (F-statistic):           3.90e-63
Time:                        10:48:44   Log-Likelihood:                -444.70
No. Observations:                 159   AIC:                             895.4
Df Residuals:                     156   BIC:                             904.6
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         17.0878      0.762     22.433      0.000      15.583      18.592
Weight         0.0272      0.001     21.059      0.000       0.025       0.030
Height        -0.1860      0.108     -1.726      0.086      -0.399       0.027
==============================================================================
Omnibus:                       23.120   Durbin-Watson:                   0.358
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               32.524
Skew:                           0.816   Prob(JB):                     8.66e-08
Kurtosis:                       4.498   Cond. No.                     1.29e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.29e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [8]:
x

     const  Weight   Height
0      1.0   242.0  11.5200
1      1.0   290.0  12.4800
2      1.0   340.0  12.3778
3      1.0   363.0  12.7300
4      1.0   430.0  12.4440
..     ...     ...      ...
154    1.0    12.2   2.0904
155    1.0    13.4   2.4300
156    1.0    12.2   2.2770
157    1.0    19.7   2.8728
158    1.0    19.9   2.9322

[159 rows x 3 columns]

In [20]:
new_data = pd.DataFrame({'const':1, 'Weight':[437,243,145],'Height':[12.2,11.3,10.8]})

In [21]:
predictions = results.predict(new_data)
predictions_1 = results_1.predict(new_data)

In [11]:
predictions

0    4.939868
1    4.227572
2    3.862094
dtype: float64

In [22]:
new_data = pd.DataFrame({'const':1, 'Weight':[437,243,145],'Height':[12.2,11.3,10.8],'Predicted Weight':predictions,'Predicted Length1':predictions_1})

In [23]:
new_data

   const  Weight  Height  Predicted Weight  Predicted Length1
0      1     437    12.2          4.939868          26.697803
1      1     243    11.3          4.227572          21.591459
2      1     145    10.8          3.862094          19.020403